<% provide :title, t("title-contact") %>
<h1><%= t("title-contact") %></h1>
<p>
  <%= t("contact-page.title-home-1") %>
  <%= link_to Settings.webpage_contact.link_contact_1 do %>
    <%= t("contact-page.title-home-2") %>
  <% end %>.
</p>
